<!DOCTYPE html>
<html ng-app="rga">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/onsenui/1.3.13/onsenui.css" />
    <link href="~/Content/onsenui/1.3.13/onsen-css-components.css" /> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="~/Scripts/onsenui/1.3.13/js/onsenui.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
</head>
<body ng-controller="MainController as main">
    
</body>
</html>
